<!-- DESKTOP HERO SELECT -->
<div class="row hidden-sm hidden-xs">
	<div class="hero-grid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#hero-grid-offense" aria-controls="hero-grid-offense" role="tab" data-toggle="tab">OFFENSE</a></li>
					<li role="presentation"><a href="#hero-grid-defense" aria-controls="hero-grid-defense" role="tab" data-toggle="tab">DEFENSE</a></li>
					<li role="presentation"><a href="#hero-grid-tank" aria-controls="hero-grid-tank" role="tab" data-toggle="tab">TANK</a></li>
					<li role="presentation"><a href="#hero-grid-support" aria-controls="hero-grid-support" role="tab" data-toggle="tab">SUPPORT</a></li>
				</ul>
			</div>
			<div class="col-xs-12">
				<div class="tab-content well">
					<div role="tabpanel" class="tab-pane active" id="hero-grid-offense">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each sortedHeroes.offense}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-defense">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each sortedHeroes.defense}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-tank">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each sortedHeroes.tank}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-support">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each sortedHeroes.support}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- MOBILE HERO SELECT -->
<div class="row visible-sm visible-xs">
	<div class="hero-grid mobile">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						OFFENSE <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each sortedHeroes.offense}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						DEFENSE <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each sortedHeroes.defense}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						TANK <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each sortedHeroes.tank}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SUPPORT <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each sortedHeroes.support}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>