<!-- DESKTOP HERO SELECT -->
<div class="row hidden-sm hidden-xs">
	<div class="hero-grid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#hero-grid-offense" aria-controls="hero-grid-offense" role="tab" data-toggle="tab">OFFENSE</a></li>
					<li role="presentation"><a href="#hero-grid-defense" aria-controls="hero-grid-defense" role="tab" data-toggle="tab">DEFENSE</a></li>
					<li role="presentation"><a href="#hero-grid-tank" aria-controls="hero-grid-tank" role="tab" data-toggle="tab">TANK</a></li>
					<li role="presentation"><a href="#hero-grid-support" aria-controls="hero-grid-support" role="tab" data-toggle="tab">SUPPORT</a></li>
				</ul>
			</div>
			<div class="col-xs-12">
				<div class="tab-content well">
					<div role="tabpanel" class="tab-pane active" id="hero-grid-offense">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each offense}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-defense">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each defense}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-tank">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each tank}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-support">
						<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
							{{#each support}}
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- MOBILE HERO SELECT -->
<div class="row visible-sm visible-xs">
	<div class="hero-grid mobile">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						OFFENSE <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each offense}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						DEFENSE <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each defense}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						TANK <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each tank}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SUPPORT <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{{#each support}}
							<li>
								<label class="btn btn-default {{#if this.compare}}active{{/if}}">
									<input type="checkbox" class="hero-toggle" data-hero="{{this.normalizedName}}" checked={{this.compare}}>{{this.name}}
								</label>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>







<!-- MOBILE HERO SELECT -->
{{!-- <div class="row visible-sm visible-xs">
	<div class="hidden hero-grid">
		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#hero-grid-offense-mobile" aria-controls="hero-grid-offense-mobile" role="tab" data-toggle="tab">OFFENSE</a></li>
					<li role="presentation"><a href="#hero-grid-defense-mobile" aria-controls="hero-grid-defense-mobile" role="tab" data-toggle="tab">DEFENSE</a></li>
					<li role="presentation"><a href="#hero-grid-tank-mobile" aria-controls="hero-grid-tank-mobile" role="tab" data-toggle="tab">TANK</a></li>
					<li role="presentation"><a href="#hero-grid-support-mobile" aria-controls="hero-grid-support-mobile" role="tab" data-toggle="tab">SUPPORT</a></li>
				</ul>
			</div>
		</div>
		<div class="well">
			<div class="row">
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="hero-grid-offense-mobile">
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Genji
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">McCree
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Pharah
								</label>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Reaper
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Soldier: 76
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Sombra
								</label>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Tracer
								</label>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-defense-mobile">
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Bastion
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Hanzo
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Junkrat
								</label>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Mei
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Torbjorn
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Widowmaker
								</label>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-tank-mobile">
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">D.VA
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Orisa
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Reinhardt
								</label>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Roadhog
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Winston
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Zarya
								</label>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="hero-grid-support-mobile">
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Ana
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Lucio
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Mercy
								</label>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="btn-group btn-group-justified" role="group" aria-label="heroes">
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Symmetra
								</label>
								<label class="btn btn-default">
									<input type="checkbox" class="hero-toggle">Zenyatta
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> --}}