{{#if heroPage}}
	<h6 class="section-label text-uppercase">Hero VS All</h6>
	{{else}}
	<h6 class="section-label text-uppercase">Hero VS Selected</h6>
{{/if}}
{{#each hero.stats}}
	<section class="stat-section">
		<h5 class="stat-label">{{this.name}}</h5>
		<div class="stat-bar-container">
			{{#if this.value}}
				<div class="stat-bar" data-stat="{{@key}}"></div>
				<span class="stat-value">{{this.value}}</span>
				{{else}}
					<div class="stat-bar" data-stat="{{@key}}"></div>
					<span class="stat-value">0</span>
			{{/if}}
		</div>
	</section>
{{/each}}