<hr>
{{#if heroPage}}
	<h6 class="section-label text-uppercase">Hero VS All</h6>
	{{else}}
	<h6 class="section-label text-uppercase">Hero VS Selected</h6>
{{/if}}
{{#if hero.stats.playtime}}
	<section class="hero-stat-section hero-playtime">
		<h5>Playtime</h5>
		<div class="stat-bar">{{hero.stats.playtime}}</div>
	</section>
{{/if}}
{{#if hero.stats.medals}}
	<section class="hero-stat-section hero-medals">
		<h5>Medals</h5>
		<div class="stat-bar">{{hero.stats.medals}}</div>
	</section>
{{/if}}
{{#if hero.stats.elims}}
	<section class="hero-stat-section hero-elims">
		<h5>Eliminations Per Life</h5>
		<div class="stat-bar">{{hero.stats.elims}}</div>
	</section>
{{/if}}
{{#if hero.heroDamage}}
	<section class="hero-stat-section hero-damage">
		<h5>Hero Damage Done</h5>
		<div class="stat-bar">{{hero.heroDamage}}</div>
	</section>
{{/if}}
{{#if hero.stats.healing}}
	<section class="hero-stat-section hero-healing">
		<h5>Healing</h5>
		<div class="stat-bar">{{hero.stats.healing}}</div>
	</section>
{{/if}}