{{#if heroPage}}
	<h6 class="section-label text-uppercase">Hero VS All</h6>
	{{else}}
	<h6 class="section-label text-uppercase">Hero VS Selected</h6>
{{/if}}
{{#each hero.stats}}
	<section class="stat-section">
		<h5 class="stat-label">{{this.name}}</h5>
		{{#if this.value}}
			<div class="stat-bar" data-stat="{{@key}}">{{this.value}}</div>
			{{else}}
				<div class="stat-bar" data-stat="{{@key}}">0</div>
		{{/if}}
	</section>
{{/each}}