<article class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-5 col-lg-4 panel panel-default hero-section fade-in" id="{{name}}">
	<h1>{{heroInfo.name}}</h1>
	<hr class="visible-xs">
	<img class="visible-xs img-rounded img-responsive hero-img fade-in" src="../img/ow-{{name}}-full.jpg">
	<hr>
	<dl class="dl-horizontal">
		<dt>Real Name</dt>
		<dd>{{heroInfo.real_name}}</dd>
		{{#if heroInfo.age}}
			<dt>Age</dt>
			<dd>{{heroInfo.age}}</dd>
		{{/if}}
		{{#if heroInfo.affiliation}}
			<dt>Prior Affiliation</dt>
			<dd>{{heroInfo.affiliation}}</dd>
		{{/if}}
		{{#if heroInfo.base_of_operations}}
			<dt>Base of Operations</dt>
			<dd>{{heroInfo.base_of_operations}}</dd>
		{{/if}}
	</dl>
	<hr>
	<p>{{heroInfo.description}}</p>
	<hr>
	<h4 id="hero-health">Health: {{heroInfo.health}}</h4>
	{{#if heroInfo.armour}}
		<h4 id="hero-armor">Armor: {{heroInfo.armour}}</h4>
	{{/if}}
	{{#if heroInfo.shield}}
		<h4 id="hero-shield">Shield: {{heroInfo.shield}}</h4>
	{{/if}}
	{{#if userStats}}
		{{#if userStats.playtime}}
			{{> stats heroPage=true}}
		{{else}}
			{{> noPlaytime}}
		{{/if}}
	{{/if}}
	<div class="hero-link">
		<hr>
		<a href="/">Back to Heroes</a>
	</div>
</article>
<aside class="hidden-xs col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-1 col-lg-7 col-lg-offset-1 hero-aside">
	<img class="img-rounded img-responsive hero-img fade-in" src="../img/ow-{{name}}-full.jpg">
</aside>