<div class="hero-icon full-page ohi-{{hero.normalizedName}}"></div>
<div class="container hero single">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-7">
			<div class="panel">
				<div class="title-container full">
					<div class="overlay fill {{hero.normalizedName}}"></div>
					<h1 class="title">{{hero.name}}</h1>
				</div>
				<hr class="tight">
				<div class="body">
					<dl class="dl-horizontal">
						<dt>Real Name</dt>
						<dd>{{hero.data.realName}}</dd>
						{{#if hero.data.age}}
							<dt>Age</dt>
							<dd>{{hero.data.age}}</dd>
						{{/if}}
						{{#if hero.data.affiliation}}
							<dt>Prior Affiliation</dt>
							<dd>{{hero.data.affiliation}}</dd>
						{{/if}}
						{{#if hero.data.base}}
							<dt>Base of Operations</dt>
							<dd>{{hero.data.base}}</dd>
						{{/if}}
					</dl>
					<hr>
					<p>{{hero.data.description}}</p>
					{{#if hero.data.armor}}
						<h4 id="hero-armor">Armor: {{hero.data.armor}}</h4>
					{{/if}}
					{{#if hero.data.shield}}
						<h4 id="hero-shield">Shield: {{hero.data.shield}}</h4>
					{{/if}}
					<hr>
					{{!-- <div>LIST MOVES HERE WITH DESCRIPTONS ON CLICK</div>
					<hr> --}}
					<img class="img-rounded img-responsive" src="../img/ow-{{ hero.normalizedName }}-full.jpg">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-1">
			<div class="panel">
				<div class="title-container full">
					<div class="overlay fill {{hero.normalizedName}}"></div>
					<h2 class="title">Stats</h2>
				</div>
				<hr class="tight">
				<div class="body">
					{{#if noUser }}
						{{> noStats}}
					{{else}}
						{{#if hero.stats.playtime.value}}
							{{> stats this=hero heroPage=true}}
						{{else}}
							{{> noPlaytime}}
						{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>