<article class="col-xs-6 col-sm-3 hero-section fade-in" id="{{userStats.name}}">
	<div class="panel panel-default">
		<span class="glyphicon glyphicon-remove-circle hero-remove" aria-hidden="true"></span>
		<div class="hidden-xs hero-icon ohi-{{userStats.name}}"></div>
		<h3 class="hero-name text-center">{{heroInfo.name}}</h3>
		{{#if userStats.playtime}}
			{{> stats}}
		{{else}}
			{{> noPlaytime}}
		{{/if}}
		<div class="hero-link">
			<hr>
			<a href="/hero.html?name={{userStats.name}}">More Info</a>
		</div>
	</div>
</article>